.landing{
    position: relative;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: fit-content;
    background-color: rgba(224, 224, 224, 0.421);
    z-index: 777;
}