
    .home-container{
        position:relative;
        display: flex;
        height: 85vh;
        /* width: 100vw; */
        /* width: inherit; */
        /* padding-left: 6rem; */
        /* transform: translateY(-8rem); */
        /* justify-content: center; */
        justify-content: center;
        padding-top: 1rem;
    }
    
    
    .home-container .homepageImages{
        height: 120%;
        padding-left: 5%;
        transform: translateY(-5.2rem);
        align-self: center;
        object-fit:fill;
        width: 92%;
        background-color: transparent;
    }

    
    .slider-nav .nav-button.active{
        background-color: rgb(39, 39, 39);
        transition:0.3s ease;
    }
    
    .slider-nav .nav-button:hover{
        transform:scale(1.01);
        background-color: rgb(88, 88, 88);
    }
    
    
    .slider-nav span:not(last-child){
        margin-right: 20px;
    } 
    
    .slider-nav{
        z-index: 50;
        position: absolute;
        display: flex;
        justify-content: center;
        bottom:0;
        left:35rem;
        align-items: center;
        align-self:center;
        margin-bottom: 12px;
        background-color: transparent;
        transform: translate(8rem,-1rem);
    }
    .slider-nav span{
        width: 20px;
        height:20px;
        background-color: rgb(208, 203, 203);
        border-radius:50%;
        cursor: pointer;
        box-shadow: 1px 1px 2px rgb(23, 22, 22);
        transition: 0.3s ease;
    
    }
    
    .home-container .content{
        transform: scale(0.85);
        padding-right: 30%;
        position: absolute;
        z-index: 888;
        background-color: transparent;
        width: 75%;
        height: 70%;
    }
    
    .home-container .content h1{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 70px;
        width: 75%;
        background-color: transparent;
    }
    .home-container .content p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:45px;
        width: 60%;
        background-color: transparent;
    }

    .home-container .content h2{
        background-color: transparent;
    }
    .home-container .content .user-input{
        background-color: transparent;
    }
    .home-container .content input{
        width:55%;
        height: 4rem;
        border-radius: 5.5rem;
        border-color: rgba(201, 197, 197, 0.129);
        box-shadow:0.25px 0.25px;
        font-size: 20px;
        background-color: white;
        text-align:left;
        padding-left: 2rem;
    }
    .home-container .content input::placeholder{
        text-transform: uppercase;
        padding-left: 2rem;
        
    }
    .user-input{
        display: flex;
        flex-direction: row;
        gap:1.5rem
    }
    .user-selection{
        width:20rem;
        height: 2.5rem;
        font-size: 1.5rem;
        background-color: white;
        border-top-left-radius: 1rem;
        border-bottom-left-radius:1rem ;
        justify-content: center;
        align-items: center;
        box-shadow: 0.75px 0.75px;
    }

    #send-button{
        background-color:rgb(64, 218, 218);
        border-radius: 1rem;
        box-shadow: 0.5px 0.5px ;
    }
    #send-button:hover{
        transform: scale(1.1);
        transition: 0.5s ease;
    }

    .link{
        text-decoration: none;
        background: transparent;
        color:rgb(53, 53, 53);
        font-size: 1.5rem;
    }
    @media (max-width:942px) {
        .slider-nav{
            display: none;
        }
        
    }