section{
    /* padding: 4px 56px ; */
    height: fit-content;
    width: inherit;
    background-color: rgb(227, 235, 235);
}

.home-container{
    position:relative;
    width: inherit;
    width: 100%;
    min-height: calc( 2rem);
    display: flex;
    z-index:1;
}
.home-container .content{
    padding-left:5rem;
}

.home-container .content h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    width: 35rem;
}
.home-container .content p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:45px;
    width: 36rem;
}

.home-container .content input{
    width:35rem;
    height: 3rem;
    border-radius: 2rem;
    border-color: rgba(201, 197, 197, 0.129);
    box-shadow:0.25px 0.25px;
    font-size: 18px;
}
.home-container .content input::placeholder{
    text-transform: uppercase;
    padding-left: 2rem;
}