.navbar{
    position: fixed;
    position: sticky;
    top:0;
    height: fit-content;
    z-index: 999;
    
}

.navbar hr{
    width: 92%;
    height: 1px;
    background-color: darkgrey;
}

.navbar p{
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    top:0;
    left:0;
    padding-left: 78px;
    margin-top:-4px;
}
header{
    /* z-index:999; */
    position: relative sticky;
    top:0;
    left:0;
}
.nav-container{
z-index:999;
position: relative;
position: sticky;
top:0;
left:0;
/* width: 100%; */
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 200px;
transition: 0.5s ease;
height: 4rem;

}



.navbar .nav-container img{
    font-size: 1.5em;
    height: 5.5em;
    position: absolute;
    top:0;
    padding-top:1rem;
    background: transparent;
    left:0;
    margin-left: 2rem;
}


.nav-container .nav{
    position: relative;
    padding-right: 16rem;
    padding-top: 2rem;
}

.nav-container .nav .nav-items a{
    position: relative;
    color:black;
    font-size: 1em;
    /* text-decoration: none; */
    margin-left:30px;
    transition:0.3s ease;
    font-size: 24px;

}


.nav-container .nav .nav-items a:before{
    content:'';
    position: absolute;
    background:black;
    width:0;
    height: 3px;
    bottom:0;
    left:0;
    transition:0.2s ease;
}

.nav-container .nav .nav-items a:hover:before{
    width: 100%;
    background:aqua;

}

.nav-container .nav .nav-items a:hover{
    color:aqua
}

