.specificEvent-container{
    height: 100vh;
}

.specificEvent-container .event{
    padding-left: 5rem;
    padding-top: 2rem;
}
.specificEvent-container .title{
  float: right;
  margin-left: 30%;
  margin-right: 10%;
  font-size: 40px;
  margin-top: 5%;
}

.specificEvent-container .SpecificImg{
    float: left;
  }

  .specificEvent-container .event-details{
    font-size: 15px;
    float: right;
    margin-left: 30%;
    margin-right: 10%;
  }